{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<title>AU-KBC Admin</title>
	<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/bootstrap.css" type="text/css" media="screen" />
	
	<link rel="stylesheet" href="/site_media/my_style/style.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/site_media/js/bootstrap.js"></script>
	<script type="text/javascript" src="/site_media/js/bootstrap.min.js"></script>
</head>
</head>
<body>
<!-- Header -->
<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
			<h1><a href="#">AU-KBC</a></h1>
			<div id="top-navigation">
				Welcome <a href="#"><strong>{{user}}</strong></a>
			
				<span>|</span>
				<a href="/profile">Profile Settings</a>
				<span>|</span>
				<a href="/logout">Log out</a>
			</div>
		</div>
		<!-- End Logo + Top Nav -->
		
		<!-- Main Nav -->
	
		<!-- End Main Nav -->
	</div>
</div>
<!-- End Header -->
<!-- Container -->
<div id="container">
	<div class="shell">
		<br />
<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
				<div class="box">
					<div class="box-head">
						<h5 class="left">Solve issue </h5>
			
					</div>
					<div class="table">
					<form action="/pending" method="get">

					<input type="text" name="issue_id" value="Issue Id"onblur="if (this.value == ''){this.value = 'Issue Id'; }" onfocus="if (this.value == 'Issue Id') {this.value = '';}"/>
					<input type="submit" value="Solved issue"/>
					</form>
					</div>
				</div>
<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h5 class="left">Bug Report</h5>
			
					</div>
					<!-- End Box Head -->	

					<!-- Table -->
					<div class="table">
			
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							
								<th width="60"> Issue id</th>
								<th width="300">Issue</th>
								<th>User</th>
								<th>Status</th>
								<th>Created on</th>
								<th>Resolve on</th>
								<th width="110" class="ac">Resolved by</th>
						{% load endless %}

							{% paginate r %}
								{% for p in r %}
								
							<tr class="{{p.status}}">
								<td width="50">{{p.id}}</td>
								<td width="300"><a href="/remark/{{p.id}}">{{p.issue}}</a></td>
								<td>{{p.user_id}}</td>
							    <td>{{p.status}}</td>
								<td width="140">{{p.created_on}}</td>
								<td width="140">{{p.resolve_on}}</td>	
								<td>{{p.resolved_by}}</td>	
							</tr>
								
								{% endfor %}

							
						</table>
						<div class="page_style">
							{% show_pages %}
						</div>
														
					</div>
					<!-- Table -->
				</div>
				<!-- End Box -->
		</div>
			<!-- End Content -->
			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
		<center>&copy;2013 AU-KBC</center>
		
	</div>
</div>
<!-- End Footer -->
	
</body>
</html>
{% endspaceless %}