<!doctype html>

<head>

	<!-- Basics -->
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Login</title>

	<!-- CSS -->
	
	<link rel="stylesheet" href="/site_media/login_style/reset.css">
	<link rel="stylesheet" href="/site_media/login_style/animate.css">
	<link rel="stylesheet" href="/site_media/login_style/styles.css">
	<link rel="stylesheet" href="/site_media/my_style/style.css" type="text/css" media="screen" />
	<script>
	function newDoc()
  	{
  		window.location.assign("/")
  	}
	</script>
<script>
function validateForm()
{
var x=document.forms["myForm"]["email"].value;
var atpos=x.indexOf("@");
var dotpos=x.lastIndexOf(".");
if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
  {
  alert("Not a valid e-mail address");
  return false;
  }
}
</script>
	
</head>

	<!-- Main HTML -->
	
<body>
	
	<!-- Begin Page Content -->

	
	<div id="container1">
	<div class="mess">{% if a%}{{a}}{% endif %}</div>
	<form name="myForm" action="/send_email/" method="post"  onsubmit="return validateForm()";>
		<div class="clear"></div>
		<label for="name">Enter ur mail id:</label>
		<input type="name" name="email">
		<div id="lower">
		<input type="button"   onclick="newDoc()" value="cancel"/>
		<input type="submit" value="Submit">
		</div>
	</form>
		
		
	</div>
	
	
	<!-- End Page Content -->
	
</body>

</html>
	
	
	
	
	
		
	