<!doctype html>

<head>

	<!-- Basics -->
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Login</title>

	<!-- CSS -->
	
	<link rel="stylesheet" href="/site_media/login_style/reset.css">
	<link rel="stylesheet" href="/site_media/login_style/animate.css">
	<link rel="stylesheet" href="/site_media/login_style/styles.css">
	<link rel="stylesheet" href="/site_media/my_style/style.css" type="text/css" media="screen" />
	
</head>

	<!-- Main HTML -->
	
<body>
	
	<!-- Begin Page Content -->

	
	<div id="container">

		<div class="message">{% if wrong %}{{wrong}}{% endif  %}</div>
		
		<form action="/session_login/" method="post" enctype="multipart/form-data"> 
		
		<label for="name">Username:</label>
		
		<input type="name" name="username">
		
		<label for="username">Password:</label>
		
		<p><a href="/forget_password">Forgot your password?</a>
		
		<input type="password" name="password">
		
		<div id="lower">
		
	
		
		<input type="submit" value="Login">
		
		</div>
		
		</form>
		
	</div>
	
	
	<!-- End Page Content -->
	
</body>

</html>
	
	
	
	
	
		
	