{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
<title>Profile Settings</title>
	<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/bootstrap.css" type="text/css" media="screen" />
	
	<link rel="stylesheet" href="/site_media/my_style/style.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/site_media/js/bootstrap.js"></script>
	<script type="text/javascript" src="/site_media/js/bootstrap.min.js"></script>
	<script>
	function newDoc()
  	{
  		window.location.assign("/prof_cancel")
  	}
	</script>
</head>
</head>
<body>
<!-- Header -->
<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
			<h1><a href="#">AU-KBC</a></h1>
			<div id="top-navigation">
				Welcome <a href="#"><strong>{{user}}</strong></a>
				<span>|</span>
				<a href="/logout">Log out</a>
			</div>
		</div>
		<!-- End Logo + Top Nav -->
		
		<!-- Main Nav -->
	
		<!-- End Main Nav -->
	</div>
</div>
<!-- End Header -->
<!-- Container -->
<div id="container">
	<div class="shell">
		<br />
<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
				<div class="box">
					<div class="box-head">
						<h5 class="left">Profile Change </h5>
			
					</div>
					<div class="prof">

					<form action="/prof_update/" method="POST">
					<table>

						<tr><td width="150">Current Password</td><td><input type="password" name="current" value="Current Password" onblur="if (this.value == ''){this.value = 'Current Password'; }" onfocus="if (this.value == 'Current Password') {this.value = '';}"/></td></tr>
						<tr><td>New Password</td><td><input type="password" name="new" value="New     Password" onblur="if (this.value == ''){this.value = 'New     Password'; }" onfocus="if (this.value == 'New     Password') {this.value = '';}"/></td></tr>
						<tr><td>Confirm Password</td><td><input type="password" name="conform" value="Confirm Password" onblur="if (this.value == ''){this.value = 'Confirm Password'; }" onfocus="if (this.value == 'Confirm Password') {this.value = '';}"/></td></tr>
					</table>
					<div class="ma">
						<input type="submit" value="Update" />
					</div>
					<div class="ma1">
						<input type="button" value="cancel"  onclick="newDoc()"/>
					</div>
					</form>
					</div>
				</div>

				
		</div>
			<!-- End Content -->
			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
		<center>&copy;2013 AU-KBC</center>
		
	</div>
</div>
<!-- End Footer -->
	
</body>
</html>
{% endspaceless %}