{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<title>Solve issues</title>
	<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/bootstrap.css" type="text/css" media="screen" />
	
	<link rel="stylesheet" href="/site_media/my_style/style.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/site_media/js/bootstrap.js"></script>
	<script type="text/javascript" src="/site_media/js/bootstrap.min.js"></script>
	<script>
	function newDoc()
  	{
  		window.location.assign("/app_admin")
  	}
	</script>
</head>
</head>
<body>
<!-- Header -->
<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
			<h1><a href="#">AU-KBC</a></h1>
			<div id="top-navigation">
				Welcome <a href="#"><strong>{{user}}</strong></a>
				<span>|</span>
				<a href="/profile">Profile Settings</a
				<span>|</span>
				<a href="/logout">Log out</a>
			</div>
		</div>
		<!-- End Logo + Top Nav -->
		
		<!-- Main Nav -->
	
		<!-- End Main Nav -->
	</div>
</div>
<!-- End Header -->
<!-- Container -->
<div id="container">
	<div class="shell">
		<br />
<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
				<div class="box">
					<div class="box-head">
						<h5 class="left">Profile Details </h5>
			
					</div>
					<div class="sam">
					<form action="/remark_update/{{c.id}}" method="get">
					<table>
					
						<tr><td class="font_size">Issue</td><td><textarea rows="3" cols="45" name="issue">{{c.issue}}</textarea></td></tr>
						<tr><td class="font_size" >Created On</td><td><input type="text" value="{{c.created_on}}" name="create" />
						</td></tr>
						<tr><td class="font_size">Status</td><td><input type="text" value="{{c.status}}" name="status"></td></tr>
						<tr><td class="font_size">Remark</td><td><textarea rows="3" cols="45" name="remark">{{c.remark}}</textarea></td></tr>
						<tr><td class="font_size">Note*</td><td><textarea rows="2" cols="45" name="note">{{c.note}}</textarea></td></tr>
						<tr><td><input type="submit" Value="solve"></td><td><input type="button" Value="Cancel" onclick="newDoc()"></td></tr>
					</table>
					</form>
					
					</div>
				</div>

				
		</div>
			<!-- End Content -->
			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
		<center>&copy;2013 AU-KBC</center>
		
	</div>
</div>
<!-- End Footer -->
	
</body>
</html>
{% endspaceless %}