<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<title>User</title>
	<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/bootstrap.css" type="text/css" media="screen" />
	
	<link rel="stylesheet" href="/site_media/my_style/style.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/site_media/js/bootstrap.js"></script>
	<script type="text/javascript" src="/site_media/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Header -->	
<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
			<h1><a href="#">AU-KBC</a></h1>
			<div id="top-navigation">
				Welcome <a href="#"><strong>{{ user }}</strong></a>
				<span>|</span>
				<a href="/profile">Profile Settings</a>
				<span>|</span>
				<a href="/logout">Log out</a>
			</div>
		</div>
		<!-- End Logo + Top Nav -->
		

	</div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
	<div class="shell">
		
		
		
		<br />
		<!-- Main -->
		<div id="main">
			
			
			<!-- Content -->
			<div id="content">
				
				<div class="box">
					<div class="box-head">
					<h5 class="left">Post your Issue</h5>
					</div>
					<div class="issue" >
						<form  action="/issue" method="GET" width="100%">
							<textarea rows="2" cols="80" name="issue" > </textarea>
							<input type="submit" value="Post bug"/>
						</form>
					</div>
				</div>
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h5 class="left">Bug Report</h5>
			
					</div>
					<!-- End Box Head -->	

					<!-- Table -->
					<div class="table">
			
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
										
											
											<th width="400">Issue</th>
											
											<th>Status</th>
											<th>Created on</th>
											<th>Resolved On</th>
											<th width="150" class="ac">Remark</th>
										
											{% for p in q %}
											<tr class="{{p.status}}">
											<td>{{p.issue}}</td>
											
											<td>{{p.status}}</td>
											<td>{{p.created_on}}</td>
											<td>{{p.resolve_on}}</td>	
											<td>{{p.remark}}</td>		
											</tr>
											{% endfor %}

								</table>								
					</div>
					<!-- Table -->
				</div>
				<!-- End Box -->
				</div>
			<!-- End Content -->
			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
		<center>&copy;2013 AU-KBC</center>
		
	</div>
</div>
<!-- End Footer -->
	
</body>
</html>
