* { padding:0; margin:0; outline:0; }
body {
	
	font-family: Verdana, sans-serif;
	font-size:11px;
	line-height:14px;
}
.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }

.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }
.shell { width:988px; margin:0 auto; }
#header { 
	height:89px; 	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%); 
	white-space:nowrap;
	 }
#header h1{ float:left; display:inline; padding-top:12px; }
#top-navigation { float:right; white-space:nowrap; color:#fff; padding-top:15px; }
#top-navigation a{ color:#fff; }
#top-navigation span{ color:#dca598; }
#top { height:53px; }
#container { padding:20px 0;}
.table {}
.table th{ background:#fffdfa  repeat-x 0 0; color:#818181; text-align: left; padding:7px 10px; border-bottom:solid 1px #d2d1cb;-moz-border-bottom:solid 1px #d2d1cb;}
.table td{ background:#fbfcfc;  -moz-border-bottom:solid 1px #e0e0e0;border-bottom:solid 1px #e0e0e0; padding:8px 10px; }
.table tr.odd td{ background:#f8f8f8; }

.table a.ico{ }
.box { background:; height:100%; padding:1px; margin-bottom:20px; }
.box-head { 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%); 
	height:32px; color:#fff; padding: 0 10px; line-height:32px; white-space:nowrap; border-bottom:solid 1px #fff; }
.box-head{ padding-top:5px; line-height:13px;}
.box-head label,
.box-head  input { margin-left:5px;}
#footer { 
	height:44px; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%); 
	line-height:44px; 
	color:#fff;}
#footer a{ color:#fff; }
/*** CSS3 ***/
.box { -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow: 0 0 6px #978f6c; -webkit-box-shadow: 0 0 6px #978f6c;}
.issue
{
	margin-left: 40px;
	margin-top: 20px;
}
.issue textarea
{
	  border-color: #a47e3c;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.issue input[type="submit"]
{

	margin-right: 20px;
	margin-top: -10px;
	margin-left: 20px;
	width: 120px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}
.table input[type="submit"]
{

	margin-right: 20px;
	margin-top: 15px;
	margin-left: 20px;
	width: 120px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}

.table input[type="text"]
{
	margin-top: 25px;
}
.clear
{

max-height: 200px;
min-width: 200px;
}

.pending td
{
background:#edbbb7;
}
.Solved td
{
background:#82f4b8;
}
.table form
{
	margin-left: 60px;
}
.wid
{
	max-width: 50px;
}
textarea
{

  
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
   transition: border linear 0.2s, box-shadow linear 0.2s;
}
.sam
{
	margin-left: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.font_size
{
	width: 100px;
	font-size: 14px;
}
.sam input[type="submit"],input[type="button"]
{

	margin-right: 20px;
	margin-top: 15px;
	margin-left: 20px;
	width: 120px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}
.prof input[type="submit"],input[type="button"]
{

	margin-right: 20px;
	margin-top: 15px;
	margin-left: 20px;
	width: 90px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}
.prof
{
	margin-bottom: 20px;
	margin-left: 200px;
	margin-top: 20px;
}
.ma
{
	margin-left: 40px;
}
.ma1
{
	margin-left: 150px;
	margin-top: -44px;

}
.page_style
{

	font-size: 15px;
	padding: 10px;
	margin-top: -10px;
}
.message
{
	color: red;
	margin-left: 20px;
}
.clear
{
	min-height: 20px;
}
#lower input[type="button"]
{
	margin-left: 125px;
	margin-top: 18px;
}
.mess
{
	color:green;
	margin-left: 80px;
	font-size: 16px;
	margin-top: 20px;
}